body {
    background-color: #273750
}

.title {
    color: white;
    font-size: 60px;
    width: auto;
    text-align: center;
    height: auto;
    margin-top: 60px;
}

.content {
    color: orange;
    font-size: 40px;
    text-align: center;
    margin-top: 40px;
}

.button {
    text-align: center;
    background-color: #777bf7;
    color:white;
    border: 2px;
    font-size: 40px;
    margin: 40px;
    margin-left: 200px;
    margin-right: 200px;
    border-color: white;
}